{% load static %}
<!doctype html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'recipe_site/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a href="#" class="navbar-brand">Recipes App</a>
    <div class="nav">
        <a href="#" class="nav-item nav-link">Calendar</a>

        {% if user.is_authenticated %}
            <a href="{% url 'recipes:recipe_list' %}" class="nav-item nav-link">Recipes</a>
            <a href="{% url 'recipes:add_recipe' %}" class="nav-item nav-link">Add Recipe</a>
            <a href="{% url 'profile' %}" class="nav-item nav-link">Profile</a>
            <a href="{% url 'logout' %}" class="nav-item nav-link">Logout</a>
        {% else %}
            <a href="{% url 'login' %}" class="nav-item nav-link">Login</a>
        {% endif %}
    </div>
</nav>
{% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}

{% endif %}
{% block body %}

{% endblock %}
</body>
</html>