{% extends 'recipes/base.html' %}

{% block body %}

    <h1>Recipe Detail</h1>
    <h2>{{ recipe.title }}</h2>
    <p><strong>Description:</strong> {{ recipe.description }}</p>
    <p><strong>Category:</strong> {{ recipe.category.name }}</p>
    <h3>Ingredients:</h3>
    <ul>
        {% for recipe_ingredient in recipe.recipeingredient_set.all %}
            <li>{{ recipe_ingredient.ingredient.name }} - {{ recipe_ingredient.quantity }} {{ recipe_ingredient.unit }}</li>
        {% endfor %}
    </ul>
    <p><strong>Instructions:</strong></p>
    <p>{{ recipe.instructions }}</p>
    <a href="{% url 'recipes:delete_recipe' pk=recipe.pk  %}" class="btn btn-primary">Delete Recipe</a>
    <a href="{% url 'recipes:edit_recipe' pk=recipe.pk  %}" class="btn btn-primary">Edit Recipe</a>

{% endblock %}
