{% extends 'recipes/base.html' %}

{% block body %}
<body>
    <h1>Recipe List</h1>
<!--    <ul>-->
        {% for recipe in recipe_list %}
        <div class="row">
            <div class="col-md-3 offset-md-2">
                <img class="card" style="max-height: 150px; max-width: 100%;" src="{{ recipe.recipe_image }}" alt="recipe image"/>
            </div>
            <div class="col-md-4">
                <a href="{% url 'recipes:detail' pk=recipe.pk %}"><h2>{{ recipe.title }}</h2></a>            </li>

            </div>
        </div>


<!--            <li>-->
<!--<a href="{% url 'recipes:detail' pk=recipe.pk %}"><h2>{{ recipe.title }}</h2></a>            </li>-->
        {% endfor %}
<!--    </ul>-->
</body>
{% endblock %}
